body{
    overflow-x:hidden;
}


.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #f6f8f9;
}

header{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f6f8f9;
    display: flex;
    justify-content: space-between;
}


.navbar li:hover{
    border-bottom: #f58ea8 solid 4px;
}

.navbar{
}

.ul_ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    color:#cbd0d3;
}

.li_home{
    color: black;
}

ul li{
    cursor: pointer;

}



/* nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background:red;
    position: absolute;
    left:0;
    bottom: -10px;
    transition: 0.5s;
}

nav ul li:hover::after{
    width: 100%;
} */

nav{
    width: 25%;
    margin-right: 20px;
}

/* .burger_menu{
    display: none;
} */


.Logo_image{
    margin-left: 20px;
    cursor: pointer;
    margin-top: 10px;
    animation-name: logoanimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes logoanimation{
    from {
        margin-left: 100%;
        width: 100%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
}

article{
    display: flex;
    
}

.article_background{
    width: 60%;
    background-image: url(./images/Image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article_title{
    
    width: 70%;
}

#burger_menu{
    display: none;
}

.article_title_header{
    
    font-size: 1.5rem;
    color: white;
    font-weight: bolder;
}

.article_title_section h3{
    font-size: 1.5rem;
    color: white;
    font-weight: bolder;
    margin-top: 15px;
}

.article_title_section p{
    font-size: 1rem;
    color: white;
    margin-top: 15px;
}

.article_title_section button{
    color: white;
    width: 25%;
    padding: 10px;
    border: none;
    background-color: #fa6980;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}

.article_title_section button:hover{
    transition: 1s;
    background-color: white;
    border-radius: 50px;
    color: red;
}

.news_article{
    background-color: white;

    width: 30%;
    padding: 50px;
    padding-left: 100px;
}

.news_article_header{
    width: 90%;
    font-size: 1.5rem;
    color: #202124;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .news_article_header_arrow{
    width: 20%;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
}

.arrow1{
    border: 2px solid blue;
} */

.news_article_header_arrow{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.news_article_section{
    width: 60%;
    margin-top: 15px;
}

.news_article_section h3{
    font-size: 1rem;
    color: #fa6980;
    font-weight: bold;
    margin-top: 30px;
}

.news_article_section h1{
    color: #202124;
    margin-top: 15px;
}

.news_article_section p{
    color: #a6adb4;
    margin-top: 5px;
}

.news_article_section_time{
    display: flex;
    margin-top: 10px;
}

.news_article_section_time p2{
    margin-left: 15px;
    color:#a6adb4 ;
}

.section_one{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.picture_one{
    width: 30%;
    background-color: white;
}

.picture_one h3{
    font-size: 1rem;
    color: #202124;
    margin: 15px;
    font-weight: bolder;
}

.picture_one p{
    margin-left: 15px;
    color: #a6adb4;
}

.picture_one .news_article_section_time{
    margin-left: 15px;
}

.trending_line{
    color: #202124;
    font-size: 1.5rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.picture_one_image{
    transition: 0.5s;
    transform: 100ms;
    opacity: 100ms;
}

.picture_one_image:hover{
    transform: scale(1.2);
    opacity: 1;
}

.section_two{
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.pictures_articles{
    width: 60%;
    gap: 10px;
}

.section_two_box_xidi{
    background-image: url(./images/xidi.png);
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.section_two_box_xidi h3{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-left: 40px;
    margin-top: 150px;
}

.section_two_box_xidi h2{
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 40px;
}

.section_two_box_xidi p {
    margin-left: 40px;
    margin-top: 15px;
}

.section_two_box_xidi .news_article_section_time{
    margin-left: 40px;
    margin-top: 20px;
}

.section_two_box_two{
    width: 60%;

}

.section_two_box_wood{
    background-image: url(./images/refe.png);
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    margin-top: 20px;
}

.section_two_box_wood h3{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-left: 40px;
    margin-top: 150px;
}

.section_two_box_wood h2{
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 40px;
}

.section_two_box_wood p {
    margin-left: 40px;
    margin-top: 15px;
}

.section_two_box_wood .news_article_section_time{
    margin-left: 40px;
    margin-top: 20px;
}

.section_two_box_two{
    width: 60%;

}

.section_last{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.section_last_boxx{
    width: 70%;

}

.section_last_boxx h3{
    font-size: 1rem;
    color: #202124;
    margin-top: 10px;
    
}

.section_last_boxx .news_article_section_time{
    margin-bottom: 10px;
    margin-bottom: 15px;
}

footer{
    width: 100%;
    background-color: #a6adb4;
    margin-top: 25px;
    
}

.footer_box{
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a:link { text-decoration: none; }




.footer_nav ul{
    flex-direction: column;
    gap: 5px;
}

.special_box{
    width: 50%;
    display: flex;
    justify-content: center;

}

.special_box p{
    color: white;
    margin-right: 20px;
}

/* ul{
    color: red;
}

.footer_nav li{
    cursor: pointer;
}

.footer_box p{
    color: white;
}

.footer_nav{
    width: 10%;
    border: 2px solid red;
} */

.special_box_second{
    width: 50%;
    display: flex;
    gap: 20px;
}

#email{
    border: 3px solid #ccc;
    border-radius: 15px;
    width: 75%;
    height: 50px;
    background-color:#a6adb4 ;
    padding-left: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.input_label{
    width: 60%;
}

.input_label p{
    border: none;
    margin-top: 10px;
}

.social_logos{
    width: 25%;
    display: flex;
    justify-content: space-between;
}
/* აქ დასრულდა პირველი ფეიჯი */



.header_two{
    padding: 15px;
    background-color: #f6f8f9;
    display: flex;
    justify-content: space-between;
}

.header_two li{
    color: #a6adb4;
}

.navbar .li_worldnews{
    color: black;
}

.worldnews_box{
    width: 80%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}

.worldnews_box_1{
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
    font-size: 0.688rem;
}

.worldnews_box_1_p{
    color: black;
}

.worldnews_box_1_p2{
    color:#a6adb4 ;
}

.filter_logo{
    cursor: pointer;
}

#burger_menu{
    display: none;
}

.worldnews_box_1 p:hover{
    text-shadow: 2px 6px 10px pink;
    font-size:0.750rem ;
    cursor: pointer;
}

.worldnews_box_section{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.worldnews_picture{
    width: 50%;
    background-image: url(./images/worldnes\ dsadas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    
}

.worldnews_picture h3{
    font-size: 2rem;
    color: white;
    font-weight: bolder;
}


.worldnews_picture_text{
    width: 60%;
    margin: 150px auto;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.worldnews_picture p{
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    font-size: 0.813rem;
    color: #202124;
    font-weight: bolder;
    width: 100%;
}

.worldnews_picture_text_second{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.boxlabelinput{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    font-size: 0.813rem;
    color: #202124;
    font-weight: bolder;
}

.boxlabelinput input{
    border: 3px solid #ccc;;
    outline: none;
}

.boxlabelinput button{
    background-color: #fa6980;
    border: none;
    border-radius: 10px;
    width: 50%;
    padding: 15px;
    font-size: 0.688rem;
    color: white;
    cursor: pointer;
}


.footer_logo_white{
    color: white;
}

.boxlabelinput button:hover{
    transition: 1s;
    border-radius: 30px;
}


/* .worldnews_section{
    border: 2px solid red;
    width: 75%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
} */

/* .worldnews_section_box{
    width: 30%;
    border: solid 2px red;
    padding: 20px;
} */

/* .worldnews_section_box p{
    font-size: 1.5rem;
    color: #202124;
}

.worldnews_section_box_two{
    border: solid 2px yellow;
    width: 30%;
    padding: 20px;
    color: #a6adb4;
} */

.boxbox{
    width: 80%;
    border: 2px solid #a6adb4;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

.boxbox1{
    width: 30%;
    padding: 20px;
}

.boxbox1 p{
    margin-top: 15px;
    color: #202124;
    font-size: 1.5rem;
}

.boxbox2{
    width: 30%;
    color: #a6adb4;
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.worldnewssection_second{
    width: 80%;
    margin: 0 auto;
    background-image: url(./images/elepant.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

.worldnewssection_second_text{
    width: 80%;
    margin: 30px auto;
    width: 3px solid red;
}

.worldnewssection_second_text P{
    padding: 20px;
    color: #a6adb4;
    font-size: 0.875rem;
}

.worldnewssection_second_line{
    border: 1px solid #a6adb4;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}

/* აქ დასრულდა მეორე გვერდი */

@media (max-width:768px){
    
    body{overflow-x:hidden;}
   
    header{
        width: 100%;
    }

    .navbar{
        width: 60%;
    }

    /* .navbar .image_li{
        display: none;
    } */

    article{
        display: flex;
        flex-direction: column;
    }

    .article_background{
        width: 100%;
    }

    .news_article{
        padding: 0px;
        padding-left: 0px;
        width: 100%;
        margin-top: 50px;
    }

    #photonone{
        display: none;
    }

    .picture_one{
        width: 40%;
       
    }

    .picture_one_image{
        border: 2px solid red;
        width: 100%;
    }

    .section_two{
        display: flex;
        flex-direction: column;
    }

    #burger_menu{
        display: none;
    }

    .pictures_articles{
        width: 100%;
    }

    .section_last{
        width: 100%;
        display: flex;
    }

    #mesame_photo{
        display: none;
    }

   .section_last_boxx{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 15px;
   }

   .news_article_section_time{
    display: none;
   }

   .section_last_boxx h3{
    display: none;

   }

   

   #spilo{
    width: 40%;
   }

   #chiti{
    width: 40%;
   }
    
   .news_article{
    width: 100%;
    padding: 0px;
    padding-left: 0px;
   }

   .special_box{
    width: 100%;
   }

   .footer_nav{
    margin-left: 30px;
   }

   .social_logos{
    align-self: flex-end;
   }

   .special_box_second{
    width: 100%;
    justify-content: space-between;
   }

   .footer_box{
    flex-direction: column;
   }

    .filter_logo{
        border: 2px solid #a6adb4;
        padding: 5px;
    }

    .worldnews_box_1{
        width: 40%;
    }

    .worldnews_box_section{
        flex-direction: column;
    }

    .worldnews_picture{
        width: 100%;
        height: 400px;
    }

    .worldnews_picture_text_second{
        width: 70%;
        justify-content: left;
        margin: 70px auto;
    }
    .boxlabelinput{
        width: 100%;
    }
}

/* აქ დასრულდა პირველი რესპონსივი */

@media (max-width:375px) {
    ul{
        display: none;
    }

    .article_background{
        height: 388px;
    }
    
    .article_title_section button{
        width: 60%;
    }

    .news_article_header_arrow{
        width: 30%;
        height: 50px;
    }

    .news_article{
        padding: 15px;
    }

    .news_article_section{
        width: 90%;
    }
   
    .section_one{
        flex-direction: column;
        width: 80%;
    }

    .trending_line{
        width: 80%;
    }

    .picture_one{
        width: 100%;
        margin-top: 30px;
    }
    
    .section_last{
        margin-top: 50px;
    }

    .section_last_boxx{
        display: flex;
        flex-direction: column;
    }

    .section_last_boxx h3{
        display: flex;
        font-weight: bolder;
    }

    .news_article_section_time{
        display: flex;
    }

    #spilo{
        width: 100%;
    }

    #chiti{
        width: 100%;
    }

    #mesame_photo{
        display: flex;
        width: 100%;
    }

    .special_box{
        display: none;
    }

    .input_label{
        display: none;
    }

    .social_logos{
        width: 65%;
        margin: 30px auto;
    }

    .worldnews_box_1{
        display: none;
    }
   
    .worldnews_box{
        flex-direction: row-reverse;
        display: none;
    }

    .worldnews_picture{
        height: 388px;
    }

    .worldnews_box_section{
        width: 100%;
    }

    .worldnews_picture_text{
        width: 80%;
        margin: 100px auto;
    }

    .worldnews_picture_text p{
        margin: 20px auto;
    }
    
    .pinkline{
        margin: 20px auto;
    }

    .worldnews_picture_text_second{
        width: 90%;
    }

    .boxlabelinput button{
        margin-top: 20px;
    }

    .boxbox{
        flex-direction: column;
        width: 90%;
        margin: 30px auto;
    }

    .boxbox1{
        width: 85%;
        font-weight: bolder;
    }

    .boxbox2{
        width: 100%;
        margin: 20px auto;
        font-size: 0.875rem;
    }

    .worldnewssection_second{
        height: 187px;
        width: 90%;
    }

    .worldnewssection_second_text{
        width: 90%;
    }

    .worldnewssection_second_text p{
        padding: 0px;
    }

    .worldnewssection_second_line{
        width: 90%;
    }

    #burger_menu{
        display: flex;
        border: 2px solid black;
        width: 8%;
        margin-right: 20px;
    }
    
    ul{
        flex-direction: row-reverse;
    }

    nav{
        display: none;
    }

    .ul_ul{
        position: fixed;
        top: 82px;
        flex-direction: column;
        background-color: gray;
        width: 100%;
        transform: 0.3;
    }

    .ul_ul.active{
        left: 0;

    }
}